IMPORT LIBRARY

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns

IMPORT FILE CSV

In [ ]:
df = pd.read_csv('ds_salaries.csv')

In [ ]:
df.head()

# 1 Exploratory Data Analysis

## 1.1 Check Null Values

## 1.2 Check Duplicate Data

### Copy Data

### Delete Duplicate Data

## 1.3 Check Unique Values in Each Column

### Check Data Type

### Check Data stats

### Check Columns

### Unique Valeus Check

## 1.4 Rename Value for Better Understanding

## 1.5 Group the Job title

### Check Job Title

### Grouping Function

In [ ]:
def assign_broader_category(job_title):
  data_engineering = ["Data Engineer", "Data Analyst", "Analytics Engineer", "BI Data Analyst", "Business Data Analyst", "BI Developer", "BI Analyst", "Business Intelligence Engineer", "BI Data Engineer", "Power BI Developer"]
  data_scientist = ["Data Scientist", "Applied Scientist", "Research Scientist", "3D Computer Vision Researcher", "Deep Learning Researcher", "AI/Computer Vision Engineer"]
  machine_learning = ["Machine Learning Engineer", "ML Engineer", "Lead Machine Learning Engineer", "Principal Machine Learning Engineer"]
  data_architecture = ["Data Architect", "Big Data Architect", "Cloud Data Architect", "Principal Data Architect"]
  management = ["Data Science Manager", "Director of Data Science", "Head of Data Science", "Data Scientist Lead", "Head of Machine Learning", "Manager Data Management", "Data Analytics Manager"]

  return null #change this

## 1.6 Adjust Salary to Present Values

### Inflation Rate

In [ ]:
# Inflation rates
us_inflation_rates = {2019: 0.0181,
                      2020: 0.0123,
                      2021: 0.0470,
                      2022: 0.065}
global_inflation_rates = {2019: 0.0219,
                          2020: 0.0192,
                          2021: 0.0350,
                          2022: 0.088}

def adjust_salary(x):


    return null #Change this

# SOAL No.1
Show the median adjusted data scientist salary, for each experience level

## JAWABAN No.1

# SOAL No. 2
Show the number of records for each company_location, sorted descending

## JAWABAN No.2

# SOAL No.3
From this data, show the median adjusted salary of employee who works for company located in Indonesia, do you think that value represents the salary in Indonesia? why? why not?

## JAWABAN No.3

**Kesimpulan** <br>
................