IMPORT LIBRARY

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
#%matplotlib inline
import seaborn as sns

IMPORT FILE CSV

In [ ]:
df = pd.read_excel('/content/ds_salaries.xlsx')
df.head(10)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
5,2023,SE,FT,Applied Scientist,222200,USD,222200,US,0,US,L
6,2023,SE,FT,Applied Scientist,136000,USD,136000,US,0,US,L
7,2023,SE,FT,Data Scientist,219000,USD,219000,CA,0,CA,M
8,2023,SE,FT,Data Scientist,141000,USD,141000,CA,0,CA,M
9,2023,SE,FT,Data Scientist,147100,USD,147100,US,0,US,M

# 1 Exploratory Data Analysis

## 1.1 Check Null Values

In [ ]:
df.isna().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

## 1.2 Check Duplicate Data

In [ ]:
df.shape

(3755, 11)

In [ ]:
df.duplicated().sum()
# Melihat total jumlah baris data duplicate

np.int64(1171)

In [ ]:
df[df.duplicated()]
# Melihat detail data yang duplikat

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
115,2023,SE,FT,Data Scientist,150000,USD,150000,US,0,US,M
123,2023,SE,FT,Analytics Engineer,289800,USD,289800,US,0,US,M
153,2023,MI,FT,Data Engineer,100000,USD,100000,US,100,US,M
154,2023,MI,FT,Data Engineer,70000,USD,70000,US,100,US,M
160,2023,SE,FT,Data Engineer,115000,USD,115000,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
3439,2022,MI,FT,Data Scientist,78000,USD,78000,US,100,US,M
3440,2022,SE,FT,Data Engineer,135000,USD,135000,US,100,US,M
3441,2022,SE,FT,Data Engineer,115000,USD,115000,US,100,US,M
3586,2021,MI,FT,Data Engineer,200000,USD,200000,US,100,US,L
3709,2021,MI,FT,Data Scientist,76760,EUR,90734,DE,50,DE,L

### Copy Data

In [ ]:
df_clean = df.copy()

In [ ]:
df_clean.shape

(3755, 11)

### Delete Duplicate Data

In [ ]:
df_clean.duplicated().sum()

np.int64(1171)

In [ ]:
df_clean.drop_duplicates(inplace=True)

In [ ]:
df_clean.duplicated().sum()

np.int64(0)

## 1.3 Check Unique Values in Each Column

### Check Data Type

In [ ]:
df_clean.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

### Check Data stats

In [ ]:
df_clean.describe()

         work_year        salary  salary_in_usd  remote_ratio
count  2584.000000  2.584000e+03    2584.000000   2584.000000
mean   2022.301084  2.103653e+05  133409.280186     50.483746
std       0.749179  8.080375e+05   67136.837329     48.163707
min    2020.000000  6.000000e+03    5132.000000      0.000000
25%    2022.000000  9.000000e+04   84975.000000      0.000000
50%    2022.000000  1.346300e+05  130000.000000     50.000000
75%    2023.000000  1.825625e+05  175000.000000    100.000000
max    2023.000000  3.040000e+07  450000.000000    100.000000

### Check Columns

In [ ]:
df_clean.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

### Unique Values Check

In [ ]:
# Cek unique values dari kolom objek/categorical
# Cek setiap kolom dan menunjukkan banyaknya unique value
for column in df_clean.columns:
  if df_clean[column].dtypes == 'object':
    num_distinct = df_clean[column].nunique()
    distinct_value = df_clean[column].unique()
    print(f'{column} has {num_distinct} distinct values: {distinct_value}')

experience_level has 4 distinct values: ['SE' 'MI' 'EN' 'EX']
employment_type has 4 distinct values: ['FT' 'CT' 'FL' 'PT']
job_title has 93 distinct values: ['Principal Data Scientist' 'ML Engineer' 'Data Scientist'
 'Applied Scientist' 'Data Analyst' 'Data Modeler' 'Research Engineer'
 'Analytics Engineer' 'Business Intelligence Engineer'
 'Machine Learning Engineer' 'Data Strategist' 'Data Engineer'
 'Computer Vision Engineer' 'Data Quality Analyst'
 'Compliance Data Analyst' 'Data Architect'
 'Applied Machine Learning Engineer' 'AI Developer' 'Research Scientist'
 'Data Analytics Manager' 'Business Data Analyst' 'Applied Data Scientist'
 'Staff Data Analyst' 'ETL Engineer' 'Data DevOps Engineer' 'Head of Data'
 'Data Science Manager' 'Data Manager' 'Machine Learning Researcher'
 'Big Data Engineer' 'Data Specialist' 'Lead Data Analyst'
 'BI Data Engineer' 'Director of Data Science'
 'Machine Learning Scientist' 'MLOps Engineer' 'AI Scientist'
 'Autonomous Vehicle Technician' 'Applied Machine Learning Scientist'
 'Lead Data Scientist' 'Cloud Database Engineer' 'Financial Data Analyst'
 'Data Infrastructure Engineer' 'Software Data Engineer' 'AI Programmer'
 'Data Operations Engineer' 'BI Developer' 'Data Science Lead'
 'Deep Learning Researcher' 'BI Analyst' 'Data Science Consultant'
 'Data Analytics Specialist' 'Machine Learning Infrastructure Engineer'
 'BI Data Analyst' 'Head of Data Science' 'Insight Analyst'
 'Deep Learning Engineer' 'Machine Learning Software Engineer'
 'Big Data Architect' 'Product Data Analyst'
 'Computer Vision Software Engineer' 'Azure Data Engineer'
 'Marketing Data Engineer' 'Data Analytics Lead' 'Data Lead'
 'Data Science Engineer' 'Machine Learning Research Engineer'
 'NLP Engineer' 'Manager Data Management' 'Machine Learning Developer'
 '3D Computer Vision Researcher' 'Principal Machine Learning Engineer'
 'Data Analytics Engineer' 'Data Analytics Consultant'
 'Data Management Specialist' 'Data Science Tech Lead'
 'Data Scientist Lead' 'Cloud Data Engineer' 'Data Operations Analyst'
 'Marketing Data Analyst' 'Power BI Developer' 'Product Data Scientist'
 'Principal Data Architect' 'Machine Learning Manager'
 'Lead Machine Learning Engineer' 'ETL Developer' 'Cloud Data Architect'
 'Lead Data Engineer' 'Head of Machine Learning' 'Principal Data Analyst'
 'Principal Data Engineer' 'Staff Data Scientist' 'Finance Data Analyst']
salary_currency has 20 distinct values: ['EUR' 'USD' 'INR' 'HKD' 'CHF' 'GBP' 'AUD' 'SGD' 'CAD' 'ILS' 'BRL' 'THB'
 'PLN' 'HUF' 'CZK' 'DKK' 'JPY' 'MXN' 'TRY' 'CLP']
employee_residence has 78 distinct values: ['ES' 'US' 'CA' 'DE' 'GB' 'NG' 'IN' 'HK' 'PT' 'NL' 'CH' 'CF' 'FR' 'AU'
 'FI' 'UA' 'IE' 'IL' 'GH' 'AT' 'CO' 'SG' 'SE' 'SI' 'MX' 'UZ' 'BR' 'TH'
 'HR' 'PL' 'KW' 'VN' 'CY' 'AR' 'AM' 'BA' 'KE' 'GR' 'MK' 'LV' 'RO' 'PK'
 'IT' 'MA' 'LT' 'BE' 'AS' 'IR' 'HU' 'SK' 'CN' 'CZ' 'CR' 'TR' 'CL' 'PR'
 'DK' 'BO' 'PH' 'DO' 'EG' 'ID' 'AE' 'MY' 'JP' 'EE' 'HN' 'TN' 'RU' 'DZ'
 'IQ' 'BG' 'JE' 'RS' 'NZ' 'MD' 'LU' 'MT']
company_location has 72 distinct values: ['ES' 'US' 'CA' 'DE' 'GB' 'NG' 'IN' 'HK' 'NL' 'CH' 'CF' 'FR' 'FI' 'UA'
 'IE' 'IL' 'GH' 'CO' 'SG' 'AU' 'SE' 'SI' 'MX' 'BR' 'PT' 'RU' 'TH' 'HR'
 'VN' 'EE' 'AM' 'BA' 'KE' 'GR' 'MK' 'LV' 'RO' 'PK' 'IT' 'MA' 'PL' 'AL'
 'AR' 'LT' 'AS' 'CR' 'IR' 'BS' 'HU' 'AT' 'SK' 'CZ' 'TR' 'PR' 'DK' 'BO'
 'PH' 'BE' 'ID' 'EG' 'AE' 'LU' 'MY' 'HN' 'JP' 'DZ' 'IQ' 'CN' 'NZ' 'CL'
 'MD' 'MT']
company_size has 3 distinct values: ['L' 'S' 'M']

## 1.4 Rename Value for Better Understanding

In [ ]:
# Mengubah/rename kolom
df_clean['experience_level'] = df_clean['experience_level'].replace({
    'EN': 'Junior',
    'MI': 'Intermediate',
    'SE': 'Senior',
    'EX': 'Executive'
})

df_clean['employment_type'] = df_clean['employment_type'].replace({
    'FT': 'Full Time',
    'PT': 'Part Time',
    'CT': 'Contract',
    'FL': 'Freelance'
})

df_clean['remote_ratio'] = df_clean['remote_ratio'].replace({
    0: 'On Site',
    50: 'Hybrid',
    100: 'Remote'
})

df_clean['company_size'] = df_clean['company_size'].replace({
    'S': 'Small',
    'M': 'Medium',
    'L': 'Large'
})

In [ ]:
df_clean.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,Senior,Full Time,Principal Data Scientist,80000,EUR,85847,ES,Remote,ES,Large
1,2023,Intermediate,Contract,ML Engineer,30000,USD,30000,US,Remote,US,Small
2,2023,Intermediate,Contract,ML Engineer,25500,USD,25500,US,Remote,US,Small
3,2023,Senior,Full Time,Data Scientist,175000,USD,175000,CA,Remote,CA,Medium
4,2023,Senior,Full Time,Data Scientist,120000,USD,120000,CA,Remote,CA,Medium

## 1.5 Group the Job title

### Check Job Title

In [ ]:
df_clean['job_title'].unique()

array(['Principal Data Scientist', 'ML Engineer', 'Data Scientist',
       'Applied Scientist', 'Data Analyst', 'Data Modeler',
       'Research Engineer', 'Analytics Engineer',
       'Business Intelligence Engineer', 'Machine Learning Engineer',
       'Data Strategist', 'Data Engineer', 'Computer Vision Engineer',
       'Data Quality Analyst', 'Compliance Data Analyst',
       'Data Architect', 'Applied Machine Learning Engineer',
       'AI Developer', 'Research Scientist', 'Data Analytics Manager',
       'Business Data Analyst', 'Applied Data Scientist',
       'Staff Data Analyst', 'ETL Engineer', 'Data DevOps Engineer',
       'Head of Data', 'Data Science Manager', 'Data Manager',
       'Machine Learning Researcher', 'Big Data Engineer',
       'Data Specialist', 'Lead Data Analyst', 'BI Data Engineer',
       'Director of Data Science', 'Machine Learning Scientist',
       'MLOps Engineer', 'AI Scientist', 'Autonomous Vehicle Technician',
       'Applied Machine Learning Scientist', 'Lead Data Scientist',
       'Cloud Database Engineer', 'Financial Data Analyst',
       'Data Infrastructure Engineer', 'Software Data Engineer',
       'AI Programmer', 'Data Operations Engineer', 'BI Developer',
       'Data Science Lead', 'Deep Learning Researcher', 'BI Analyst',
       'Data Science Consultant', 'Data Analytics Specialist',
       'Machine Learning Infrastructure Engineer', 'BI Data Analyst',
       'Head of Data Science', 'Insight Analyst',
       'Deep Learning Engineer', 'Machine Learning Software Engineer',
       'Big Data Architect', 'Product Data Analyst',
       'Computer Vision Software Engineer', 'Azure Data Engineer',
       'Marketing Data Engineer', 'Data Analytics Lead', 'Data Lead',
       'Data Science Engineer', 'Machine Learning Research Engineer',
       'NLP Engineer', 'Manager Data Management',
       'Machine Learning Developer', '3D Computer Vision Researcher',
       'Principal Machine Learning Engineer', 'Data Analytics Engineer',
       'Data Analytics Consultant', 'Data Management Specialist',
       'Data Science Tech Lead', 'Data Scientist Lead',
       'Cloud Data Engineer', 'Data Operations Analyst',
       'Marketing Data Analyst', 'Power BI Developer',
       'Product Data Scientist', 'Principal Data Architect',
       'Machine Learning Manager', 'Lead Machine Learning Engineer',
       'ETL Developer', 'Cloud Data Architect', 'Lead Data Engineer',
       'Head of Machine Learning', 'Principal Data Analyst',
       'Principal Data Engineer', 'Staff Data Scientist',
       'Finance Data Analyst'], dtype=object)

### Grouping Function

In [ ]:
def assign_broader_category(job_title):
  data_engineering = ["Data Engineer", "Data Analyst", "Analytics Engineer", "BI Data Analyst", "Business Data Analyst", "BI Developer", "BI Analyst", "Business Intelligence Engineer", "BI Data Engineer", "Power BI Developer"]
  data_scientist = ["Data Scientist", "Applied Scientist", "Research Scientist", "3D Computer Vision Researcher", "Deep Learning Researcher", "AI/Computer Vision Engineer"]
  machine_learning = ["Machine Learning Engineer", "ML Engineer", "Lead Machine Learning Engineer", "Principal Machine Learning Engineer"]
  data_architecture = ["Data Architect", "Big Data Architect", "Cloud Data Architect", "Principal Data Architect"]
  management = ["Data Science Manager", "Director of Data Science", "Head of Data Science", "Data Scientist Lead", "Head of Machine Learning", "Manager Data Management", "Data Analytics Manager"]

  if job_title in data_engineering:
    return "Data Engineering"
  elif job_title in data_scientist:
    return "Data Scientist"
  elif job_title in machine_learning:
    return "Machine Learning"
  elif job_title in data_architecture:
    return "Data Architecture"
  elif job_title in management:
    return "Management"
  else:
    return "Other"

In [ ]:
df_clean['job_category'] = df_clean['job_title'].apply(assign_broader_category)

In [ ]:
print(df_clean['job_category'].nunique())
print(df_clean['job_category'].unique())
# Sesuai dengan jumlah kategori yang dibuat

6
['Other' 'Machine Learning' 'Data Scientist' 'Data Engineering'
 'Data Architecture' 'Management']

In [ ]:
df_clean

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,job_category
0,2023,Senior,Full Time,Principal Data Scientist,80000,EUR,85847,ES,Remote,ES,Large,Other
1,2023,Intermediate,Contract,ML Engineer,30000,USD,30000,US,Remote,US,Small,Machine Learning
2,2023,Intermediate,Contract,ML Engineer,25500,USD,25500,US,Remote,US,Small,Machine Learning
3,2023,Senior,Full Time,Data Scientist,175000,USD,175000,CA,Remote,CA,Medium,Data Scientist
4,2023,Senior,Full Time,Data Scientist,120000,USD,120000,CA,Remote,CA,Medium,Data Scientist
...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,Senior,Full Time,Data Scientist,412000,USD,412000,US,Remote,US,Large,Data Scientist
3751,2021,Intermediate,Full Time,Principal Data Scientist,151000,USD,151000,US,Remote,US,Large,Other
3752,2020,Junior,Full Time,Data Scientist,105000,USD,105000,US,Remote,US,Small,Data Scientist
3753,2020,Junior,Contract,Business Data Analyst,100000,USD,100000,US,Remote,US,Large,Data Engineering
3754,2021,Senior,Full Time,Data Science Manager,7000000,INR,94665,IN,Hybrid,IN,Large,Management

## 1.6 Adjust Salary to Present Values

In [ ]:
df_clean['salary'].head(10)

0     80000
1     30000
2     25500
3    175000
4    120000
5    222200
6    136000
7    219000
8    141000
9    147100
Name: salary, dtype: int64

### Inflation Rate

In [ ]:
from inspect import currentframe
from datetime import datetime
# Inflation rates
us_inflation_rates = {2019: 0.0981,
                      2020: 0.0923,
                      2021: 0.1370,
                      2022: 0.155,
                      2023: 0.175}
global_inflation_rates = {2019: 0.1019,
                          2020: 0.0992,
                          2021: 0.1250,
                          2022: 0.168,
                          2023: 0.188}

# Function to adjust salary based on the inflation rates
def adjust_salary(x): # X = nama dataframe
  year = x['work_year']
  original_salary = x['salary_in_usd']
  currency = x['salary_currency']
  current_year = datetime.now().year

  if year == current_year:
    return original_salary # Work year tahun ini = tanpa inflasi
  else:
    adjusted_salary = original_salary # Variabel baru "adjusted_salary"
    for y in range(year, 2024): # Kenaikan gaji sesuai currency dan tahun
      if currency == 'USD':
        inflation_rate = us_inflation_rates[y]
      else:
        inflation_rate = global_inflation_rates[y]
      adjusted_salary *= (1 + inflation_rate) # Update variable "adjusted_salary" sesuai kondisi yang berlaku
    return adjusted_salary

In [ ]:
df_clean['adjusted_salary'] = df_clean.apply(adjust_salary, axis=1)

In [ ]:
df_clean

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,job_category,adjusted_salary
0,2023,Senior,Full Time,Principal Data Scientist,80000,EUR,85847,ES,Remote,ES,Large,Other,101986.236000
1,2023,Intermediate,Contract,ML Engineer,30000,USD,30000,US,Remote,US,Small,Machine Learning,35250.000000
2,2023,Intermediate,Contract,ML Engineer,25500,USD,25500,US,Remote,US,Small,Machine Learning,29962.500000
3,2023,Senior,Full Time,Data Scientist,175000,USD,175000,CA,Remote,CA,Medium,Data Scientist,205625.000000
4,2023,Senior,Full Time,Data Scientist,120000,USD,120000,CA,Remote,CA,Medium,Data Scientist,141000.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,Senior,Full Time,Data Scientist,412000,USD,412000,US,Remote,US,Large,Data Scientist,694415.594461
3751,2021,Intermediate,Full Time,Principal Data Scientist,151000,USD,151000,US,Remote,US,Large,Other,233000.719875
3752,2020,Junior,Full Time,Data Scientist,105000,USD,105000,US,Remote,US,Small,Data Scientist,176974.848103
3753,2020,Junior,Contract,Business Data Analyst,100000,USD,100000,US,Remote,US,Large,Data Engineering,168547.474384
3754,2021,Senior,Full Time,Data Science Manager,7000000,INR,94665,IN,Hybrid,IN,Large,Management,147775.094280

# SOAL No.1
Show the median adjusted data scientist salary, for each experience level

## JAWABAN No.1

In [ ]:
# Menampilkan median dari 'adjusted_salary' untuk 'job_category' == Data Scientist pada setiap 'experience_level'
# Filter 'job_category' == 'Data Scientist' kemudian dikelompokkan berdasar experience_level
ds_median = df_clean[df_clean['job_category'] == 'Data Scientist'].groupby('experience_level')['adjusted_salary'].median().reset_index()
ds_median.rename(columns={'adjusted_salary': 'median_salary'}, inplace=True)
ds_median

  experience_level  median_salary
0        Executive   215782.87500
1     Intermediate   122117.19300
2           Junior   108100.34436
3           Senior   201579.47500

# SOAL No. 2
Show the number of records for each company_location, sorted descending

## JAWABAN No.2

In [ ]:
# Company location terbanyak ada di paling atas
location_records = df_clean['company_location']
location_records.value_counts().reset_index() # otomatis descending

   company_location  count
0                US   1929
1                GB    155
2                CA     83
3                IN     57
4                DE     55
..              ...    ...
67               CN      1
68               NZ      1
69               CL      1
70               MD      1
71               MT      1

[72 rows x 2 columns]

# SOAL No.3
From this data, show the median adjusted salary of employee who works for company located in Indonesia, do you think that value represents the salary in Indonesia? why? why not?

## JAWABAN No.3

In [ ]:
# All job category
# Filter 'company_location' adalah 'ID' kemudian mengakses kolom 'adjusted_salary'
median_salary_id = df_clean[df_clean['company_location'] == 'ID']['adjusted_salary'].median()
print(f"Median Adjusted Salary in Indonesia: {median_salary_id} USD")

# Data Scientist job category
# Filter 'company_location' adalah 'ID' dan 'job_category' = 'Data Scientist' kemudian mengakses kolom 'adjusted_salary'
median_salary_id_ds = df_clean[(df_clean['company_location'] == 'ID') & (df_clean['job_category'] == 'Data Scientist')]['adjusted_salary'].median()
print(f"Median Adjusted Salary for Data Scientist in Indonesia: {median_salary_id_ds} USD")

Median Adjusted Salary in Indonesia: 47238.030972 USD
Median Adjusted Salary for Data Scientist in Indonesia: 74119.186944 USD

**Kesimpulan**<br>
Median gaji di Indonesia per bulan = [625 USD](https://www.timedoctor.com/blog/average-salary-in-indonesia/), atau 8125 USD per tahun (+THR) <br>
Median gaji data scientist di Indonesia per bulan = [780 USD](https://www.glassdoor.com/Salaries/jakarta-data-scientist-salary-SRCH_IL.0,7_IC2709872_KO8,22.htm), atau 10140 USD per tahun (+THR) <br>
<br>
Sehingga, median yang di hitung dari data dalam dataframe di atas tidak menggambarkan kondisi gaji di Indonesia<br>
<br>
*untuk rate IDR-USD 2025/04*